@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

.el-button {
  font-family: 'Ubuntu', sans-serif;
}

.contenedor-central {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card-header{
    text-align: center;
}

.el-card__header{
    background-color: var(--el-color-primary-dark-2);
    color: white;
}

.el-loading-spinner .el-loading-text {
  color: white;
}

.el-sub-menu__title{
  background-color: var(--el-color-primary);
  color: white;
}

.el-sub-menu__title:hover {
  background-color: var(--el-color-primary-light-8);
  color: black;
}

.el-menu-item, .el-sub-menu__title {
  padding-left: 10px !important;
}

.el-header{
  height: 56px !important;
  background-color: var(--el-color-primary-light-8) !important;
}

.el-aside .el-scrollbar {
  margin-top: 56px !important;
  height: auto;
}

.el-aside::-webkit-scrollbar { display: none; }